﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width" />
    <title>MyFirstView</title>
</head>
<body>
    <div>
        <h1 class="h-100">
            @ViewBag.CurrentTime This is the homepage!
        </h1>
        <a asp-action="SupervisorList" class="btn btn-primary">
            List of supervisors
        </a>
        <a asp-action="SupervisorsWithSList" class="btn btn-primary">
            List of supervisors where name starts with S
        </a>
    </div>
</body>
</html>
