﻿@model List<Task24.Models.Supervisor>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width" />
    <title>CoachInfo</title>
</head>

<body>
    <div>
        <h1 class="active">
            List of supervisors!!

        </h1>

        @foreach (var supervisor in Model)
        {
    <div>
        <!-- you were using a button element not an anchor-->
        @supervisor.Name
        <a asp-action="EditSupervisor" class="btn btn-link">
            Edit
        </a>
        <hr />
    </div>
        }
        <div>
        <a asp-action="AddSupervisor" class="btn btn-primary">
            Add Supervisor
        </a>
        </div>
    </div>
</body>
</html>
